$title-font: "Oswald", sans-serif;
$body-font: "Raleway", sans-serif;
$serif-font: "Domine", serif;
$background-color: #222;
$sunflower-yellow: #e8d82a;
$orchid: #83449C;
$eminence: #6b3880;

%body-text {
    color: white;
    font-family: $body-font;
}
%link-styles {
    color: white;
    transition: 0.25s;
    &:hover {
        text-decoration: none;
        color: $sunflower-yellow;
    }
}
