$title-font: 'Oswald',
sans-serif;
$body-font: 'Raleway',
sans-serif;
$background-color: #222;
$sunflower-yellow: #e8d82a;

%body-text {
    color: white;
    font-family: $body-font;
}
%link-styles {
    color: white;
    transition: .25s;
    &:hover {
        text-decoration: none;
        color: $sunflower-yellow;
    }
}