$title-font: 'Oswald',
sans-serif;
$body-font: 'Raleway',
sans-serif;
$highlight-color: #3498DB;
$background-color: #111;

body {
    color: white !important;
    font-family: $body-font;
    background-color: $background-color !important;
}

a {
    color: white !important;
    transition: 0.25s;
}

a:hover {
    text-decoration: none !important;
}

.current-work .card-text {
    color: black;
}


#header {
    font-family: $title-font;
    .navbar-brand {
        font-size: 2.5rem;
        color: white;
    }
    h1 {
        display: inline;
        margin-right: 1rem;
        padding: 0.5rem 0;
        a:hover {
            color: white !important;
        }
    }
    #navbarSupportedContent.nav-link {
        padding: .5rem 0;
    }
    img {
        height: 100%;
    }
    button {
        border: none;
        background: none;
    }
    button:focus {
        outline: none;
    }
    padding: 0;
}

#titleUnderline {
    margin-top: 0;
    border-bottom: solid thin #f0f0f0;
}


.nav-item {
    font-family: $title-font;
    font-size: larger;
}

.nav-item {
    text-decoration: none;
    color: white;
}

.main.col h2 {
    font-family: $title-font;
    margin-bottom: 2rem;
}

.current-work .card-title {
    color: black;
}

.see-more {
    text-align: right;
}

.middle {
    transition: .25s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.middle-container {
    transition: .25s ease;
    background-color: #000;
    opacity: 0;
    border-radius: inherit;
    position: absolute;
    height: 100%;
    width: 100%;
}


.current-work .card:hover img {
    opacity: 0.75;
}

.card:hover .middle {
    opacity: 1;
}

.card:hover .middle-container {
    opacity: .75;
}

.text {
    background-color: $highlight-color;
    color: white;
    margin-bottom: 1rem;
    cursor: pointer;
    padding: .25rem;
    transition: .25s ease;
}

a:not(.active):hover {
    color: $highlight-color !important;
}

p.body-text {
    text-align: justify;
}

#businessCard {
    margin: auto;
    p {
        color: black;
        a {
            text-decoration: none;
            color: black!important;
            transition: 0.25s;
        }
        a:hover {
            color: $highlight-color !important;
        }
    }

    .card-body {
        padding: 1rem 0 0 1rem;
    }
}

.nav-item.active,
.nav-link.active {
    font-weight: 600;

    cursor: default;
}


.nav-item.active:hover {
    color: inherit;
}

.circle {
    border-radius: 100%;
    display: inline-flex;
    flex: 0 0 4rem;
    height: 4rem;
    width: 4rem;
    overflow: hidden;
    justify-content: center;
    margin-right: 1rem;
    position: relative;
    -webkit-transition: -webkit-transform .8s ease-in-out;
    transition: transform .8s ease-in-out;
    background-color: white;
}

.circle:hover {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

.overlay {
    align-items: center;
    bottom: 0;
    display: flex;
    justify-content: center;
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: opacity 0.25s;
    z-index: 1;
    background: -webkit-linear-gradient(to left, rgba(29, 38, 113, 0.65), rgba(195, 55, 100, 0.65));
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, rgba(29, 38, 113, 0.65), rgba(195, 55, 100, 0.65));
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: white;
}

.overlay:hover {
    opacity: 1;
}


#header img:hover {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}


.main {
    font-family: $body-font;
}

#footer {
    clear: both;
    text-align: center;
    font-size: .75rem;
    font-family: $body-font;
    #pageUnderline {
        border-bottom: solid thin #f0f0f0;
    }
}
