p,
h1,
h2,
h3,
ul,
label, body {
  color: white;
  font-family: "Raleway", sans-serif;
}

#contactInfo a {
  color: white;
  transition: 0.25s;
}
#contactInfo a:hover {
  text-decoration: none;
  color: #e8d82a;
}

#aboutMeCard {
  background: rgba(255, 255, 255, 0.8);
  margin: auto;
  width: 70%;
  border-radius: 0.25rem;
  margin-bottom: 6rem;
  box-shadow: 0px 10px 16px 10px rgba(0, 0, 0, 0.6);
  opacity: 0;
}

#myInfo {
  margin-right: 0;
  margin-left: 0;
  margin: auto;
  padding: 1rem 0;
}
#myInfo .text-wrapper {
  overflow: hidden;
}
#myInfo .text-wrapper * {
  transform: translateY(120%);
}
#myInfo .p-wrapper * {
  transform: translateY(-120%);
}
#myInfo p {
  text-align: justify;
  color: #222;
}
#myInfo #headshot {
  margin: auto;
}
#myInfo .image-circle {
  width: 12rem;
  height: 12rem;
  background-image: url("../me.jpg");
  border-radius: 50%;
  background-size: cover;
  margin: auto;
  opacity: 0;
}

#languageCharts {
  position: relative;
  max-height: 500px;
  max-width: 500px;
  margin: auto;
  margin-bottom: 6rem;
}

#funFactsRow {
  margin: auto;
  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}
#funFactsRow .col-sm-3 {
  opacity: 0;
}
#funFactsRow .col-sm-3:not(:last-of-type) {
  border-right: dotted 2px #e8d82a;
}
#funFactsRow .col-sm-3 ul {
  color: #222;
  padding-left: 2rem;
}
#funFactsRow .col-sm-3 ul:last-of-type {
  padding-right: 1rem;
}
#funFactsRow .col-sm-3 h4 {
  font-family: "Raleway", sans-serif;
  background: #e8d82a;
  padding: 0.5rem;
}

#quotesHeader {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
}

#quotesContainer {
  width: 70%;
  margin: auto;
  padding-left: 2em;
  padding-right: 2em;
  margin-top: -3.5rem;
}
#quotesContainer #quotesSec {
  padding: 5rem 1rem 1rem 1rem;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 0.25rem;
  box-shadow: 0px 10px 16px 10px rgba(0, 0, 0, 0.6);
}
#quotesContainer #quotesSec p {
  color: #222;
}

#contactInfo {
  text-align: center;
  list-style: none;
  font-size: large;
  padding: 1rem;
}
#menuRow {
  background-color: #808284;
  padding-top: 0.5rem;
  display: none;
}

#orderBy {
  margin-right: 0.5rem;
}

.category-tag {
  display: inline-block;
}

.row#bookshelf {
  margin: 0;
}
.row#bookshelf #flipbook .page-wrapper {
  background-size: cover;
}
.row#bookshelf #flipbook .page-wrapper:first-of-type {
  background-image: linear-gradient(to top, rgba(236, 56, 188, 0.6), rgba(115, 3, 192, 0.6), rgba(3, 0, 30, 0.8)), url(../images/linc-website-full.jpg);
}
.row#bookshelf #flipbook .page-wrapper:not(:first-of-type) {
  background: white;
}
.row#bookshelf #flipbook .page h3 {
  font-size: 1.5rem;
  color: #222;
  padding: 0.5rem;
  background: #e8d82a;
  margin-top: 50%;
  text-transform: uppercase;
  text-align: center;
}

/* Stylesheet for different sizes/media queries */
#topNav {
  text-align: center;
}
#topNav .navbar-toggler {
  margin: auto;
}

@media screen and (max-width: 992px) {
  .card-overlay {
    overflow: scroll;
  }
  .card-overlay p {
    margin-bottom: 0;
    font-size: small;
  }
  .card-overlay h3 {
    font-size: large;
  }
  .card-overlay:hover > .project-footer {
    height: 30% !important;
  }
}
@media screen and (max-width: 576px) {
  #headshot .image-circle {
    width: 10rem;
    height: 10rem;
  }
}
.loaded #headerTitle {
  animation: fadeIn 1s ease-in 0.2s forwards;
}
.loaded #topNav {
  animation: scaleIn 0.75s ease-in 0.2s forwards;
}
.loaded #topNav ul {
  animation: slideIn 0.65s ease-in 0.8s forwards;
}
.loaded #aboutRow {
  animation: fadeIn 1.25s ease-in 0.25s forwards;
}
.loaded #aboutRow div.typewriter {
  animation: fadeIn 0.75s ease-in 1.6s forwards;
}
.loaded #aboutRow p {
  animation: fadeIn 0.75s ease-in 1.25s forwards;
}
.loaded #aboutRow p.read-more {
  animation: typing 3.5s steps(40, end) 1.25s, blink-caret 0.75s step-end 2s infinite;
}
.loaded .ribbon {
  animation: scaleIn 0.75s ease-in 2.75s forwards;
}
.loaded .ribbon .ribbon-content {
  animation: fadeIn 0.75s ease-in 3.5s forwards;
}
.loaded #latestWorkCarousel {
  animation: fadeIn 0.75s ease-in 3s forwards;
}
.loaded #pageTitle {
  animation: fadeIn 1.2s ease-in 0.2s forwards;
}
.loaded #aboutMeCard {
  animation: fadeIn 1.2s ease-in 0.4s forwards;
}
.loaded #aboutMeCard .image-circle {
  animation: fadeIn 0.5s ease-in 1.6s forwards;
}
.loaded #aboutMeCard p {
  animation: slideIn 1.2s cubic-bezier(0.54, 0.46, 0.54, 0.94) 2s forwards;
}
.loaded #aboutMeCard #funFactsRow .col-sm-3:first-of-type {
  animation: fadeIn 1s ease-in 2.5s forwards;
}
.loaded #aboutMeCard #funFactsRow .col-sm-3:nth-of-type(2) {
  animation: fadeIn 1s ease-in 3.1s forwards;
}
.loaded #aboutMeCard #funFactsRow .col-sm-3:nth-of-type(3) {
  animation: fadeIn 1s ease-in 3.7s forwards;
}
.loaded #aboutMeCard #funFactsRow .col-sm-3:nth-of-type(4) {
  animation: fadeIn 1s ease-in 4.3s forwards;
}

@keyframes scaleIn {
  100% {
    transform: scaleX(1);
  }
}
@keyframes fadeIn {
  60% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes slideIn {
  100% {
    transform: translateY(0);
  }
}
@keyframes float {
  60% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}
/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: #e8d82a;
  }
}
body {
  background-color: #222 !important;
}
body a {
  transition: 0.25s;
}
body a:hover {
  color: #222;
  text-decoration: dotted underline;
}

#logo {
  width: 2.5rem;
  margin: auto;
}

#headerTitle {
  text-align: center;
  opacity: 0;
}
#headerTitle a {
  color: white;
  transition: 0.25s;
}

#headerTitle h1 {
  font-family: "Raleway", sans-serif;
  width: 100%;
  text-align: center;
  margin: 1rem 0 0 0;
}

#jobTitle {
  margin: auto;
  margin-bottom: 0;
}

#headerTitle a:hover {
  text-decoration: none;
}

#topNav {
  transform: scaleX(0);
  background-color: #e8d82a !important;
  padding: 0;
  margin-top: 1rem;
}
#topNav ul {
  font-family: "Raleway", sans-serif;
  transform: translateY(-30px);
  font-weight: bold;
  margin: auto;
}

#topNavContainer {
  margin: auto;
  padding: 0;
}

#topNav .nav-item.active a {
  text-decoration: underline dotted;
}

#topNav .nav-item a {
  color: #222;
  transition: 0.25s;
}

#topNavContainer a:not(.active):hover {
  text-decoration: underline dotted;
}

#contentSec {
  padding-top: 2rem;
}

#aboutRow {
  width: 70%;
  margin: auto;
  margin-bottom: 6rem;
  text-align: center;
  opacity: 0;
}
#aboutRow #imgSec {
  background: url(../me.jpg);
  background-size: cover;
  display: inline-block;
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  box-shadow: 0px 4px 10px 6px rgba(0, 0, 0, 0.6);
  position: absolute;
}
#aboutRow #aboutSec {
  margin-left: 4rem;
  margin-top: 2rem;
  padding: 0.5rem 1rem;
  display: inline-block;
  width: 80%;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 0.25rem;
  box-shadow: 2px 10px 10px 6px rgba(0, 0, 0, 0.6);
}
#aboutRow #aboutSec p {
  opacity: 0;
  font-size: 1.25rem;
  padding-left: 4rem;
  color: #222;
  text-align: justify;
}
#aboutRow #aboutSec div.typewriter {
  width: fit-content;
  float: right;
  opacity: 0;
}
#aboutRow #aboutSec div.typewriter a {
  color: inherit;
}
#aboutRow #aboutSec div.typewriter a:hover {
  color: inherit;
  text-decoration: underline dotted;
}
#aboutRow #aboutSec p.read-more {
  opacity: 1;
  text-align: right;
  font-family: "Raleway", sans-serif;
  font-size: medium;
  overflow: hidden;
  /* Ensures the content is not revealed until the animation */
  border-right: 0.15em solid #e8d82a;
  /* The typewriter cursor */
  white-space: nowrap;
  /* Keeps the content on a single line */
  margin: 0 auto;
}
#aboutRow #seeLatestWork {
  background: #e8d82a;
  display: inline-block;
  width: 80%;
  margin-left: 4rem;
  padding: 0.5rem;
  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}
#aboutRow #seeLatestWork:after {
  width: 0;
  height: 0;
  content: "";
  position: absolute;
  z-index: -1;
  left: 50%;
  border-left: 40px solid transparent;
  border-right: 40px solid transparent;
  border-top: 50px solid #e8d82a;
}
#aboutRow #seeLatestWork p {
  color: #222;
  font-size: 1.25rem;
  margin: 0;
  opacity: 0;
}

h2.section-title {
  font-weight: bold;
  color: #e8d82a;
  text-align: center;
}

span.emphasis {
  font-size: x-large;
}

#latestWorkRow {
  margin: 0;
}
#latestWorkRow .col-md-5 {
  margin: auto;
  margin-top: 1rem;
  box-shadow: 0px 10px 10px 10px rgba(0, 0, 0, 0.6);
  border-radius: 0.25rem;
  padding: 0;
}
#latestWorkRow .col-md-5 img {
  width: 100%;
  border-radius: 0.25rem;
}

.ribbon {
  /* This ribbon is based on a 16px font side and a 24px vertical rhythm. I've used em's to position each element for scalability. If you want to use a different font size you may have to play with the position of the ribbon elements */
  transform: scaleX(0);
  width: 70%;
  position: relative;
  background: #e8d82a;
  color: #222;
  text-align: center;
  margin: auto;
  margin-bottom: 3rem;
}
.ribbon .ribbon-content {
  opacity: 0;
}

.ribbon:before,
.ribbon:after {
  content: "";
  position: absolute;
  display: block;
  bottom: -0.5em;
  border: 0.5em solid #e8d82a;
  z-index: -1;
}

.ribbon:before {
  left: -1em;
  border-right-width: 1.5em;
  border-left-color: transparent;
}

.ribbon:after {
  right: -1em;
  border-left-width: 1.5em;
  border-right-color: transparent;
}

.ribbon .ribbon-content:before,
.ribbon .ribbon-content:after {
  content: "";
  position: absolute;
  display: block;
  border-style: solid;
  border-color: #c2b522 transparent transparent transparent;
  bottom: -0.5em;
}

.ribbon .ribbon-content:before {
  left: 0;
  border-width: 0.5em 0 0 1em;
}

.ribbon .ribbon-content:after {
  right: 0;
  border-width: 0.5em 1em 0 0;
}

.cosmic-gradient {
  background: #03001e;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom #fdeff9, #ec38bc, #7303c0, #03001e);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, rgba(236, 56, 188, 0.8), rgba(115, 3, 192, 0.8), rgba(3, 0, 30, 0.8));
}
.cosmic-gradient.overlay {
  position: absolute;
  width: 100%;
  height: 33%;
  bottom: 0;
  z-index: 1;
  padding: 1rem;
  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}
.cosmic-gradient.overlay p {
  margin: 0;
}

#latestWorkCarousel {
  opacity: 0;
  width: 70%;
  margin: auto;
}
#latestWorkCarousel.out-of-focus {
  filter: blur(0.25rem);
}
#latestWorkCarousel .carousel-caption {
  background: rgba(0, 0, 0, 0.8);
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
}

#portfolioBtn {
  height: 10rem;
  width: 10rem;
  border-radius: 50%;
  text-align: center;
  background: #e8d82a;
  margin: auto;
  border: none;
  margin-top: 2rem;
  display: block;
}
#portfolioBtn img {
  width: 60%;
}
#portfolioBtn p {
  color: #222;
  font-weight: bold;
}

#footer {
  font-family: "Raleway", sans-serif;
  color: white;
  text-align: center;
  font-size: smaller;
}

#footer hr {
  border-top: solid thin white;
}

#sliderSec {
  margin: auto;
  width: 100%;
}

#latestWorkSlider .carousel-item {
  height: 25rem;
}

.caption-overlay {
  position: absolute;
  width: 100%;
  background: rgba(0, 0, 0, 0.65);
  padding: 0 1rem 0 1rem;
  color: white;
  bottom: 0;
}

.caption-overlay button {
  float: right;
  margin-bottom: 1rem;
  background: #e8d82a;
  border: none;
  color: black;
  margin-right: 0.5rem;
  transition: 0.25s;
}

.work-link:hover {
  opacity: 0.6;
}

.caption-overlay h4 {
  margin-top: 1rem;
}

#latestWorkSlider {
  width: 100%;
  margin: auto;
}

.slide-dots {
  text-align: center;
  line-height: 1;
  width: 100%;
}

.slide-dot-btn {
  border: none;
  background: none;
  color: white;
  font-size: xx-large;
  transition: 0.25s;
}

.slide-dot-btn:focus {
  outline: none;
}

.slide-dot-btn:hover {
  color: #e8d82a;
}

#title {
  width: 100%;
  padding: 1rem 2rem 1rem 2rem;
  color: white;
}

#title h3 {
  font-family: "Raleway", sans-serif;
  margin: auto;
  border-bottom: solid thin white;
}

.imgCard {
  position: relative;
  box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
  /* animation: float 6s ease-in-out infinite; */
}

.imgCard img {
  width: 100%;
}

.imgCardOverlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  background: rgba(0, 0, 0, 0.65);
  color: white;
  font-family: "Raleway", sans-serif;
  transition: 0.25s;
}

#gridSec {
  width: 80%;
  margin: auto;
}
#gridSec .col-sm {
  padding: 0;
}

#gridSec .col-4 {
  padding: 0.5rem;
}

.col-4 .imgCard:not(:last-of-type) {
  margin-bottom: 1rem;
}

.project-card {
  position: relative;
}
.project-card img {
  width: 100%;
}
.project-card .card-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  background: rgba(0, 0, 0, 0.75);
  color: white;
  font-family: "Raleway", sans-serif;
}
.project-card .card-overlay div {
  position: relative;
  width: 100%;
  padding-left: 1rem;
}
.project-card .card-overlay div.project-header {
  margin-top: 1rem;
}
.project-card .card-overlay div.project-header h3 {
  text-decoration: underline;
  transition: 0.25s;
  margin-bottom: 0;
}
.project-card .card-overlay div.project-header p.subtitle {
  font-style: italic;
  font-size: medium;
}
.project-card .card-overlay div.project-footer {
  bottom: 0;
  position: absolute;
  background-color: #e8d82a;
  height: 0%;
  display: flex;
  transition: 0.25s;
  overflow: hidden;
}
.project-card .card-overlay div.project-footer a {
  margin-top: auto;
  margin-bottom: auto;
}
.project-card .card-overlay div.project-footer a:not(:last-of-type) {
  margin-right: 1rem;
}
.project-card .card-overlay div.project-footer button {
  background-color: #222;
  color: white;
  padding: 0.5rem;
  border-radius: 0.45rem;
  margin-top: auto;
  margin-bottom: auto;
  transition: 0.25s;
  border: none;
}
.project-card .card-overlay div.project-footer button:hover {
  background-color: #808284;
}
.project-card .card-overlay div.project-footer button:not(:last-of-type) {
  margin-right: 1rem;
}
.project-card .card-overlay:hover > .project-footer {
  height: 20%;
}
.project-card .card-overlay:hover > .project-header {
  color: #e8d82a;
}

#pageTitle {
  text-align: center;
  margin: 1rem;
  color: white;
  font-family: "Raleway", sans-serif;
  opacity: 0;
}

/*# sourceMappingURL=styles.css.map */
