@import "variables";
@import "about";
@import "contact";
@import "portfolio";
@import "mediaqueries";
@import "animations";

body {
  background-color: #222 !important;
  @extend %body-text;
  a {
    transition: 0.25s;
    &:hover {
      color: #222;
      text-decoration: dotted underline;
    }
  }
}

p,
h1,
h2,
h3,
ul,
label {
  @extend %body-text;
}

#logo {
  width: 2.5rem;
  margin: auto;
}

#headerTitle {
  text-align: center;
  // transform: translateY(-500px);
  opacity: 0;
  a {
    color: white;
    transition: 0.25s;
  }
}

#headerTitle h1 {
  font-family: "Raleway", sans-serif;
  width: 100%;
  text-align: center;
  margin: 1rem 0 0 0;
}

#jobTitle {
  margin: auto;
  margin-bottom: 0;
}

#headerTitle a:hover {
  text-decoration: none;
}

#topNav {
  transform: scaleX(0); // Start off at 0 scale prior to animation
  background-color: $sunflower-yellow !important;
  padding: 0;
  margin-top: 1rem;
  ul {
    font-family: $body-font;
    transform: translateY(-30px); // Hide this at first so it can be animated to slide in later
    // opacity: 0;
    font-weight: bold;
    margin: auto;
  }
}

#topNavContainer {
  // border-bottom: solid thin white;
  margin: auto;
  padding: 0;
}

#topNav .nav-item.active a {
  // color: #e8d82a;
  text-decoration: underline dotted;
}

#topNav .nav-item a {
  // color: white;
  color: #222;
  transition: 0.25s;
}

#topNavContainer a:not(.active):hover {
  // color: #e8d82a;
  text-decoration: underline dotted;
}

#contentSec {
  padding-top: 2rem;
}

#aboutRow {
  width: 70%;
  margin: auto;
  margin-bottom: 6rem;
  text-align: center;
  // transform: scaleX(0);
  opacity: 0;
  #imgSec {
    background: url(../images/me.png);
    background-size: cover;
    display: inline-block;
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    box-shadow: 0px 4px 10px 6px rgba(0, 0, 0, 0.6);
    position: absolute;
  }
  #aboutSec {
    p {
      // transform: translateY(-500px);
      opacity: 0;
      font-size: 1.25rem;
      padding-left: 4rem;
      color: #222;
      text-align: justify;
    }
    div.typewriter {
      width: fit-content;
      float: right;
      opacity: 0;
      a {
        color: inherit;
        &:hover {
          color: inherit;
          text-decoration: underline dotted;
        }
      }
    }
    p.read-more {
      opacity: 1;
      text-align: right;
      font-family: $body-font;
      font-size: medium;
      overflow: hidden; /* Ensures the content is not revealed until the animation */
      border-right: 0.15em solid $sunflower-yellow; /* The typewriter cursor */
      white-space: nowrap; /* Keeps the content on a single line */
      // margin: 0 auto; /* Gives that scrolling effect as the typing happens */
      margin: 0 auto;
      // float: right;
      // width: fit-content;
    }
    margin-left: 6rem;
    margin-top: 2rem;
    padding: 0.5rem 1rem;
    display: inline-block;
    width: 80%;
    background: rgba(255, 255, 255, 0.8);
    // border-top-left-radius: 0.25rem;
    // border-top-right-radius: 0.25rem;
    border: {
      radius: 0.25rem;
    }
    box-shadow: 2px 10px 10px 6px rgba(0, 0, 0, 0.6);
  }
  #seeLatestWork {
    background: $sunflower-yellow;
    display: inline-block;
    width: 80%;
    margin-left: 4rem;
    padding: 0.5rem;
    border-bottom-left-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
    &:after {
      width: 0;
      height: 0;
      content: "";
      position: absolute;
      z-index: -1;
      left: 50%;
      border-left: 40px solid transparent;
      border-right: 40px solid transparent;
      border-top: 50px solid $sunflower-yellow;
    }
    p {
      color: #222;
      font-size: 1.25rem;
      margin: 0;
      opacity: 0;
    }
  }
}

h2.section-title {
  font-weight: bold;
  color: $sunflower-yellow;
  text-align: center;
}

span.emphasis {
  // font-weight: bold;
  font-size: x-large;
  // color: $orchid;
}

#latestWorkRow {
  // display: flex;
  margin: 0;
  .col-md-5 {
    margin: auto;
    margin-top: 1rem;
    box-shadow: 0px 10px 10px 10px rgba(0, 0, 0, 0.6);
    border-radius: 0.25rem;
    padding: 0;
    img {
      width: 100%;
      border-radius: 0.25rem;
    }
  }
}

.ribbon {
  // font-size: 16px !important;
  /* This ribbon is based on a 16px font side and a 24px vertical rhythm. I've used em's to position each element for scalability. If you want to use a different font size you may have to play with the position of the ribbon elements */
  transform: scaleX(0);
  width: 70%;
  position: relative;
  background: $sunflower-yellow;
  color: #222;
  text-align: center;
  margin: auto;
  margin-bottom: 3rem;
  .ribbon-content {
    opacity: 0;
  }
}
.ribbon:before,
.ribbon:after {
  content: "";
  position: absolute;
  display: block;
  bottom: -0.5em;
  border: 0.5em solid $sunflower-yellow;
  z-index: -1;
}
.ribbon:before {
  left: -1em;
  border-right-width: 1.5em;
  border-left-color: transparent;
}
.ribbon:after {
  right: -1em;
  border-left-width: 1.5em;
  border-right-color: transparent;
}
.ribbon .ribbon-content:before,
.ribbon .ribbon-content:after {
  content: "";
  position: absolute;
  display: block;
  border-style: solid;
  border-color: #c2b522 transparent transparent transparent;
  bottom: -0.5em;
}
.ribbon .ribbon-content:before {
  left: 0;
  border-width: 0.5em 0 0 1em;
}
.ribbon .ribbon-content:after {
  right: 0;
  border-width: 0.5em 1em 0 0;
}

.cosmic-gradient {
  background: #03001e; /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom #fdeff9, #ec38bc, #7303c0, #03001e); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, rgba(236, 56, 188, 0.8), rgba(115, 3, 192, 0.8), rgba(3, 0, 30, 0.8));
  // background-image: linear-gradient(to top, rgba(236, 56, 188, 0.6), rgba(115, 3, 192, 0.6), rgba(3, 0, 30, 0.8)),
  // url(../gif/linc-website.gif);
  // height: 20rem;
  &.overlay {
    position: absolute;
    width: 100%;
    height: 33%;
    bottom: 0;
    z-index: 1;
    padding: 1rem;
    border-bottom-left-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
    p {
      margin: 0;
    }
  }
}

#latestWorkCarousel {
  opacity: 0;
  width: 70%;
  margin: auto;
  &.out-of-focus {
    filter: blur(0.25rem);
    // opacity: 0.6;
  }
  .carousel-item {
    height: 30rem;
    overflow: hidden;
  }
  .carousel-caption {
    background: rgba(0,0,0,.8);
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
  }
}

.design-project {
  width: 50%;
}

.yellow-btn {
  border: none;
  background: $sunflower-yellow;
  transition: 0.25s;
  &:hover {
    background: #222;
    color: $sunflower-yellow;
  }
}

#portfolioBtn {
  height: 10rem;
  width: 10rem;
  border-radius: 50%;
  text-align: center;
  background: $sunflower-yellow;
  margin: auto;
  border: none;
  margin-top: 2rem;
  display: block;
  img {
    width: 60%;
  }
  p {
    color: #222;
    font-weight: bold;
  }
}

// .cosmic-gradient {
//   background: #ff00cc; /* fallback for old browsers */
//   background: -webkit-linear-gradient(to right, #333399, #ff00cc); /* Chrome 10-25, Safari 5.1-6 */
//   background: linear-gradient(
//     to right,
//     #333399,
//     #ff00cc
//   ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
// }

#footer {
  font-family: "Raleway", sans-serif;
  color: white;
  text-align: center;
  font-size: smaller;
}

#footer hr {
  border-top: solid thin white;
}

#sliderSec {
  margin: auto;
  width: 100%;
}

#latestWorkSlider .carousel-item {
  height: 25rem;
}

.caption-overlay {
  position: absolute;
  width: 100%;
  background: rgba(0, 0, 0, 0.65);
  padding: 0 1rem 0 1rem;
  color: white;
  bottom: 0;
}

.caption-overlay button {
  float: right;
  margin-bottom: 1rem;
  background: #e8d82a;
  border: none;
  color: black;
  margin-right: 0.5rem;
  transition: 0.25s;
}

.work-link:hover {
  opacity: 0.6;
}

.caption-overlay h4 {
  margin-top: 1rem;
}

#latestWorkSlider {
  width: 100%;
  margin: auto;
}

.slide-dots {
  text-align: center;
  line-height: 1;
  width: 100%;
}

.slide-dot-btn {
  border: none;
  background: none;
  color: white;
  font-size: xx-large;
  transition: 0.25s;
}

.slide-dot-btn:focus {
  outline: none;
}

.slide-dot-btn:hover {
  color: #e8d82a;
}

#title {
  width: 100%;
  padding: 1rem 2rem 1rem 2rem;
  color: white;
}

#title h3 {
  font-family: "Raleway", sans-serif;
  margin: auto;
  border-bottom: solid thin white;
}

.imgCard {
  position: relative;
  box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
  /* animation: float 6s ease-in-out infinite; */
}
.imgCard img {
  width: 100%;
}

.imgCardOverlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  background: rgba(0, 0, 0, 0.65);
  color: white;
  font-family: "Raleway", sans-serif;
  transition: 0.25s;
}

#gridSec {
  width: 80%;
  margin: auto;
  .col-sm {
    padding: 0;
  }
}

#gridSec .col-4 {
  padding: 0.5rem;
}

.col-4 .imgCard:not(:last-of-type) {
  margin-bottom: 1rem;
}

.project-card {
  position: relative;
  img {
    width: 100%;
  }
  .card-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    background: rgba(0, 0, 0, 0.75);
    color: white;
    font-family: $body-font;
    div {
      position: relative;
      width: 100%;
      padding-left: 1rem;
      &.project-header {
        margin-top: 1rem;
        h3 {
          text-decoration: underline;
          transition: 0.25s;
          margin-bottom: 0;
        }
        p.subtitle {
          font-style: italic;
          font-size: medium;
        }
      }
      &.project-footer {
        bottom: 0;
        position: absolute;
        background-color: $sunflower-yellow;
        height: 0%;
        display: flex;
        transition: 0.25s;
        overflow: hidden;
        a {
          margin-top: auto;
          margin-bottom: auto;
          &:not(:last-of-type) {
            margin-right: 1rem;
          }
        }
        button {
          background-color: #222;
          color: white;
          padding: 0.5rem;
          border-radius: 0.45rem;
          margin-top: auto;
          margin-bottom: auto;
          transition: 0.25s;
          border: none;
          &:hover {
            background-color: #808284;
          }
          &:not(:last-of-type) {
            margin-right: 1rem;
          }
        }
      }
    }
    &:hover > .project-footer {
      height: 20%;
    }
    &:hover > .project-header {
      color: #e8d82a;
    }
  }
}

#pageTitle {
  text-align: center;
  margin: 1rem;
  // text-decoration: underline;
  color: white;
  font-family: $body-font;
  opacity: 0;
}
