#header {
  padding-top: 1rem;
  border-bottom: solid thin white;
  img {
    width: 4rem;
    margin: auto;
  }
  h1 {
    font-family: $body-font;
    width: 100%;
    text-align: center;
    margin-bottom: 0;
  }
  .my-title {
    width: 100%;
    text-align: center;
    margin-bottom: 0;
    transition: 0.25s;
  }
}

#topNav {
  background-color: #222;
  font-family: inherit;
  padding: 0;
  .nav-link {
    text-transform: uppercase;
    font-size: x-large;
  }
  ul {
    margin: auto;
  }
}
