body {
    font-family: 'Amatic SC', cursive;
    background-color: #FFD4D5;
}

a {
    color: inherit;
}

p {
    font-weight: bold;
}

#calculator-body {
    border-radius: 5px;
    width: 50%;
    padding: 2%;
    height: 500px;
    display: inline-block;
    background-color: #f7f6f7;
    box-shadow: 0px 0px 2px 0px;
}

#calculator-body::before {
    content: " ";
    position: absolute;
    bottom: 100%;
    /* At the top of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent white transparent;
}

#displayBar {
    width: 90%;
    color: #03c7a8;
    text-align: right;
    font-family: 'Amatic SC', cursive;
    font-size: 50px;
    background-color: #efefef;
    border-style: inset;
    padding-right: 2%;
    margin: auto;
    margin-bottom: 10%;
    transition-duration: .25s;
}

#displayBar h4 {
    margin: 0;
    font-size: 50px;
}

form {
    width: 90%;
    margin: auto;
    height: 400px;
}

#numbers {
    float: left;
    display: inline-block;
    width: 70%;
}

#numbers table {
    width: 100%;
}

#numbers td {
    width: 33%;
}

.numberBtn {
    font-family: 'Amatic SC', cursive;
    font-size: xx-large;
    font-weight: bold;
    border-radius: 5px;
    color: #F74C4B;
    background-color: #FFD4D5;
    border-color: #FFD4D5;
    box-shadow: 0 6px #DDAA91;
    width: 100%;
    border: none;
    height: 75px;
    cursor: pointer;
}

.numberBtn:active {
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.numberBtn:focus {
    outline: none;
}

#functions {
    width: 30%;
    float: right;
}

#functions table {
    width: 100%;
    height: 318px;
}

#functions table tr td {
 padding: 0;   
}

.functionBtn {
    font-family: 'Amatic SC', cursive;
    font-size: xx-large;
    font-weight: bold;
    border-radius: 5px;
    color: #292F36;
    background-color: #FFD4D5;
    border: none;
    width: 50%;
    text-align: center;
    float: right;
    cursor: pointer;
    box-shadow: 0 7px #DDAA91;
}

.functionBtn:active {
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.functionBtn:focus {
    outline: none;
}

#pushBtn {
    background-image: url("paw-edit-fade.png");
    background-repeat: no-repeat;
    background-size: 40px 40px;
    color: #292f36;
    text-align: center;
    background-position-x: right;
    background-position-y: bottom;
}

#clearBtn {
    color: #292f36;
}

#maneki-neko {
    float: right;
    width: 40%;
}


