$title-font: 'Raleway',
sans-serif;
$body-font: 'Questrial',
sans-serif;
$highlight-color: #dedede;

body {
    color: black;
    font-family: $body-font;
}

#header {
    font-family: $title-font;
    .navbar-brand {
        font-size: 2.5rem;
        color: black;
    }
    padding: 0;
}

#titleUnderline {
    margin-top: 0;
}

.nav-item {
    font-family: $title-font;
}

a.nav-link {
    text-decoration: none;
    color: black;
    transition: 0.2s;
}


a.nav-link:not(.active):hover {
    color: $highlight-color;
}

.nav-link.active {
    font-weight: 600;
    cursor: default;
}

.nav-link.active:hover {
    color: initial;
}

.circle {
    border-radius: 100%;
    display: flex;
    flex: 0 0 125px;
    height: 125px;
    width: 125px;
    overflow: hidden;
    justify-content: center;
    margin: auto;
    position: relative;
    -webkit-transition: -webkit-transform .8s ease-in-out;
    transition: transform .8s ease-in-out;
}

.circle:hover {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

.overlay {
    align-items: center;
    bottom: 0;
    display: flex;
    justify-content: center;
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: opacity 0.25s;
    z-index: 1;
    background: -webkit-linear-gradient(to left, rgba(29, 38, 113, 0.65), rgba(195, 55, 100, 0.65));
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, rgba(29, 38, 113, 0.65), rgba(195, 55, 100, 0.65));
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: white;
}

.overlay:hover {
    opacity: 1;
}

#sidenav img:hover {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}


#sidenav.flex-column {
    border-left: 1px solid rgba(0, 0, 0, .1);
    img {
        height: 100%;
        margin: auto;
    }
}

.main {
    font-family: $body-font;
}

#footer {
    clear: both;
    text-align: center;
    font-size: .75rem;
}
