body {
    width: 800px;
    background-color: black;
    margin: 0;
    color: white;
}

p {
    text-align: justify;
}

#header {
    background-image: url(images/star-wars-the-force-awakens-kylo-ren-banner.jpg);
    background-size: cover;
    height: 200px;
    font-family: 'Playfair Display', serif;
    margin-bottom: 5%;
}

#header-overlay {
    background-color: black;
    opacity: .35;
    height: 200px;
}

#header h1 {
    color: white;
    margin: 0;
    padding-left: 5%;
    font-size: 65px;
    position: absolute;
    z-index: 1000;
}

a {
    color: darkred;
}

a:hover {
    color: white;
    transition-duration: .5s;
}


#container {
    display: none;
}

h2 {
    color: darkred;
    text-decoration: underline;
}

#lightsaber-gif {
    padding-top: 25%;
    padding-bottom: 25%;
    width: 100%;
}

#left-column {
    float: left;
    width: 25%;
    margin-left: 5%;
    margin-right: 5%;
    font-family: 'Oswald';
}

#left-column img {
    width: 100%;
}

#main-column {
    width: 60%;
    float: left;
    font-family: 'Oswald';
}

.list {
    text-align: justify;
}

#music-table {
    border: solid thin;
    border-collapse: collapse;
}

#music-table td {
    padding: 4%;
}

#emo-kylo-ren {
    box-shadow: 2.5px 2.5px darkgrey;
    width: 100%;
    transition-duration: .5s;
}

#emo-kylo-ren:hover {
    opacity: .6;
    transition-duration: .5s;
}

#footer {
    margin-top: 5%;
    background-color: darkred;
    width: 100%;
    float: left;
    padding: 2.5%;
    font-family: 'Playfair Display', serif;
}
