/* GLOBAL STYLES */

#header {
    float: left;
    width: 100%;
    font-family: 'Raleway', sans-serif;
    padding-top: 1%;
}

#header h1 {
    font-size: 40px;
}

body {
    font-family: 'Questrial', sans-serif;
    padding-left: 5%;
    padding-right: 10%;
    padding-bottom: 2.5%;
    float: left;
}

a {
    text-decoration: none;
    color: inherit;
    transition: .35s;
}

#mainlink {
    color: inherit;
    text-decoration: none;
}

a:hover {
    color: lightgray;
}

#sidebar ul {
    list-style: none;
    font-size: x-large;
    padding-left: 30%;
}

#sidebar {
    float: right;
    margin-top: 5%;
    width: 17%;
}

#sidebar a:active {
    font-size: larger;
    color: lightgrey;
}

.circle {
    border-radius: 100%;
    display: flex;
    flex: 0 0 125px;
    height: 125px;
    width: 125px;
    overflow: hidden;
    justify-content: center;
    margin: auto;
    position: relative;
    -webkit-transition: -webkit-transform .8s ease-in-out;
    transition: transform .8s ease-in-out;
}

.circle:hover {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

.overlay {
    align-items: center;
    bottom: 0;
    display: flex;
    justify-content: center;
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: opacity 0.25s;
    z-index: 1;
    background: -webkit-linear-gradient(to left, rgba(29, 38, 113, 0.65), rgba(195, 55, 100, 0.65));
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, rgba(29, 38, 113, 0.65), rgba(195, 55, 100, 0.65));
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: white;
}

.overlay:hover {
    opacity: 1;
}

#sidebar img {
    height: 100%;
    margin: auto;
}

#sidebar img:hover {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

.content-section {
    float: left;
    width: 75%;
    margin-bottom: 5%;
    margin-top: 5%;
    border-right: thin solid black;
    padding-right: 7%;
}

.content-section p {
    font-size: large;
    margin-bottom: 10%;
    text-align: justify;
    margin-top: 5%;
}

#vertical-line {
    width: 1%;
    height: 100%;
    margin-top: 5%;
    background-color: black;
}

#footer {
    width: 100%;
    float: left;
}

.modal { 
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: black;
}

.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 1200px;
}

/* The Close Button */
.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

/* Hide the slides by default */
.mySlides {
  display: none;
}

img.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}