#header {
    float: left;
    width: 100%;
    font-family: 'Raleway', sans-serif;
    padding-top: 1%;
}

#header h1 {
    font-size: 40px;
}

body {
    font-family: 'Questrial', sans-serif;
}

ul {
    list-style: none;
    font-size: x-large;
}

#sidebar {
    float: right;
}