/* Custom styles */

#coverSlide img {
    margin: auto;
    display: block;
    border: none;
    background: none;
    box-shadow: none;
}

#myName {
    display: block;
    font-size: 40px;
}

.reveal blockquote {
    width: 100%;
    background: rgba(255, 255, 255, 0.25);
}

.reveal .quote-sm {
    font-size: 30px;
}

.reveal .quote-author {
    font-size: 28px;
    font-style: italic;
    text-align: right;
}

.reveal .quote-citation {
    font-style: italic;
    text-align: right;
    font-size: 20px;
}

table .desc {
    font-style: italic;
    font-size: 36px;
}

#tumblrExampleTable td {
    border-bottom: none;
}

#tumblrExampleTable img {
    margin: 0;
}


section h1.slide-title {
    text-transform: none;
    font-size: 54px;
}

.reveal .slides section {
    top: 0 !important;
}

.reveal .slides ul {
    width: 100%;
}

.reveal .slides section .fragment {
    transition-duration: 0.5s;
}

body {
    background-color: #111111;
}

.reveal section .topic-cover-img {
    width: 60%;
}

@keyframes float {
    0% {
        /*        box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);*/
        transform: translatey(0px);
    }
    50% {
        /*        box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);*/
        transform: translatey(-15px);
    }
    100% {
        /*        box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);*/
        transform: translatey(0px);
    }
}



#coverSlideImg {
    display: inline-block;
    width: 50%;
    /*    animation: float 6s ease-in-out infinite;*/
}

.topic-card-row .topic-card img {
    border: none;
    box-shadow: none;
    background: none;
}

.topic-card-row {
    position: absolute;
    width: 100%;
}

.topic-card-row .topic-card {
    display: inline-block;
    float: left;
    width: 30%;
    margin: 6px;
    border: double white 10px;
    border-radius: 1rem;
    height: 32rem;
    background-color: #bdbdbd;
}

.topic-card-row .topic-card:nth-of-type(2) {
    animation-delay: .45s;
}

.topic-card-row .topic-card:nth-of-type(3) {
    animation-delay: .75s;
}

.reveal section img {
    background-color: #bdbdbd;
}

.card-title {
    background-color: #4d4d4d;
    position: absolute;
    width: 30%;
    bottom: 16px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.card-title h3 {
    margin-bottom: 0;
    font-size: 2rem;
}

#issues {
    background: url('../issues_spritesheet.png') left center;
    width: 100%;
    height: 200px;
    background-size: cover;
    animation: play 1s steps(10) infinite;
}

@keyframes play {
    100% {
        background-position: -16000px 0;
    }
}

.reveal .description {
    font-size: xx-large;
}
