/* Birthday card */

body {
    overflow: scroll;
    background-color: black;
    margin: 0;
    padding: 0;
    font-family: 'Raleway', 'Arial', sans-serif;
    text-align: center;
}

a {
    color: lightgrey;
    transition: .75s;
}

a:hover {
    color: white;
}

h1 {
    text-align: center;
    padding: 5%;
}

/* Old vs. Young styles */

#board {
    height: 500px;
}

#old-cards {
    display: inline-block;
    float: left;
    transition: .5s;
}

#young-cards {
    display: inline-block;
    float: right;
    transition: .5s;
}

table {
    color: white;
    font-family: "Raleway", "Arial", sans-serif;
    width: 100%;
    border: solid white 1px;
    border-collapse: collapse;
}

th,
td {
    border: solid white 1px;
}


.o-card {
    background-color: darkred;
    width: 250px;
    height: 150px;
    border-radius: 5px;
    text-align: center;
    padding-top: 25px;
    box-shadow: #6c1003 3px 3px 3px;
    position: absolute;
    margin: 30px;
    perspective: 500;
    -webkit-perspective: 500;
    -moz-perspective: 500;
    -ms-perspective: 500;
    -o-perspective: 500;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    /*    position: absolute;*/
    cursor: pointer;
    /* Animate the transitions */
    -webkit-transition: 0.8s;
    text-align: center;
    -moz-transition: 0.8s;
    text-align: center;
    -ms-transition: 0.8s;
    text-align: center;
    -o-transition: 0.8s;
    text-align: center;
    transition: 0.8s;
    text-align: center;
}

.back .o-card {
    background-color: goldenrod;
}

.back .y-card {
    background-color: mediumpurple;
}

.o-card-inner {
    background-color: goldenrod;
    width: 200px;
    height: 125px;
    margin: auto;
    border-radius: 5px;
}

.o-card h1 {
    margin-top: 0;
    font-family: "Pacifico", cursive;
    color: darkred;
}


.y-card {
    background-color: rebeccapurple;
    width: 250px;
    height: 150px;
    border-radius: 5px;
    text-align: center;
    padding-top: 25px;
    box-shadow: darkviolet 3px 3px 3px;
    position: absolute;
    margin: 30px;
    perspective: 500;
    -webkit-perspective: 500;
    -moz-perspective: 500;
    -ms-perspective: 500;
    -o-perspective: 500;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    /*    position: absolute;*/
    cursor: pointer;
    /* Animate the transitions */
    -webkit-transition: 0.8s;
    text-align: center;
    -moz-transition: 0.8s;
    text-align: center;
    -ms-transition: 0.8s;
    text-align: center;
    -o-transition: 0.8s;
    text-align: center;
    transition: 0.8s;
    text-align: center;
}

.y-card-inner {
    background-color: mediumpurple;
    width: 200px;
    height: 125px;
    margin: auto;
    border-radius: 5px;
}

.y-card h1 {
    margin-top: 0;
    font-family: "Pacifico", cursive;
    color: rebeccapurple;
}

/* Flip */

/* entire container, keeps perspective */

.flip-container {
    perspective: 1000px;
}

.flip {
    transform: rotateY(180deg);
}

.zoom {
    margin-left: 35%;
}

.zoom-right {
    margin-right: 35%;
}

.flip-container,
.front,
.back {
    width: 320px;
    height: 210px;
}

/* flip speed goes here */

.flipper {
    transition: 0.6s;
    transform-style: preserve-3d;

    position: relative;
}

/* hide back of pane during swap */

.front,
.back {
    backface-visibility: hidden;

    position: absolute;
    top: 0;
    left: 0;
}

/* front pane, placed above back */

.front {
    z-index: 2;
    /* for firefox 31 */
    transform: rotateY(0deg);
}

/* back, initially hidden pane */

.back {
    /*    transform: rotateY(180deg);*/
}

.back .o-card h3 {
    font-family: "Pacifico", cursive;
    color: darkred;
    text-decoration: underline;
}

.back .y-card h3 {
    font-family: "Pacifico", cursive;
    color: rebeccapurple;
    text-decoration: underline;
}


/* The Modal (background) */

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 50%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    margin-left: 25%;
}

/* Modal Content/Box */

.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    /* Could be more or less, depending on screen size */
}

.card-modal-content {
    padding-left: 25%;
}

.o-card button {
    border: none;
    padding: 2.5%;
    background-color: darkred;
    color: white;
    font-family: inherit;
    font-weight: bold;
    transition: .5s;
    cursor: pointer;
}


#thomas {
    float: left;
    width: 50%;
    display: inline-block;
    color: white;
    display: none;
    background-color: mediumaquamarine;
    height: 900px;
}

.hovering {
    background-color: lightgrey !important;
}

#me {
    width: 50%;
    display: inline-block;
    color: white;
    display: none;
    background-color: mediumorchid;
    height: 900px;
}

/* The Close Button */

#close {
    color: white;
    float: right !important;
    font-size: 28px;
    font-weight: bold;
}

#close:hover,
#close:focus {
    color: goldenrod;
    text-decoration: none;
    cursor: pointer;
}

/* Modal Header */

.modal-header {
    padding: 2px 16px;
    background-color: rebeccapurple;
    color: white;
    font-family: "Pacifico", cursive;
}

/* Modal Body */

#modal-body {
    padding: 10px 16px;
    text-align: justify;
    color: white;
}

/* Modal Footer */

.modal-footer {
    padding: 2px 16px;
    background-color: rebeccapurple;
    color: white;
    height: 50px;
}

.modal-footer h4 {
    text-align: center;
}

.modal-footer h4:hover {
    color: goldenrod;
    cursor: pointer;
}

/* Modal Content */

.modal-content {
    position: relative;
    background-color: mediumpurple;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    animation-name: animatetop;
    animation-duration: 0.4s
}


#new-card {
    font-family: "Pacifico", cursive;
    color: white;
    border: none;
    background-color: black;
    padding: 1%;
    display: none;
    font-size: large;
    cursor: pointer;
}

#new-card:hover {
    background-color: grey;
}

.card {
    display: none;
    position: absolute;
    z-index: 10;
    left: 40%;
    top: 25%;
}
