body {
    background-color: #15191c;
    font-family: 'Oswald', sans-serif;
    line-height: normal;
    padding-top: 5rem;
}

.navbar-brand {
    cursor: pointer;
    width: 8%;
}

.navbar-brand img {
    width: 100%;
}

a,
a:visited {
    text-decoration: none;
    color: white;
}

#createAccountLink {
    color: #368cef;
    transition: 0.4s;
    text-decoration: none;
    cursor: pointer;
}

#createAccountLink:hover {
    color: #76b6fe;
}

.navbar {
    background-color: inherit;
}

main {
    margin-top: 5%;
}

form {
    width: 50%;
    margin: auto;
    color: black;
    padding: 1%;
    border-radius: 1em;
    background-color: #e4dfe7;
}

button {
    background-color: #368cef !important;
    transition: 0.4s !important;
    border: none !important;
}

button:hover {
    background-color: #76b6fe !important;
    border: none !important;
}

#userSignupForm {
    display: none;
}
